.page
	font-family 'PT Sans', 'Arial', sans-serif
	font-text()
	background-color $background-color

.container
	width 1000px
	margin-x(auto)
	margin-y(0)

	background-image url('../images/background.jpg')
