.slider-block.form-page__slider
	.slider-block__range
		button(type="button", title="маркер js").slider-block__button
	ul.slider-block__list
		li.slider-block__item Не владею
		li.slider-block__item Использую готовые решения
		li.slider-block__item Использую готовые решения и умею их переделывать
		li.slider-block__item Пишу сложный JS с нуля
