include ../input-radio/input-radio

ul.form-radio.form-page__radio
	+input-radio("radio-1", "radio", false, "Верстать")
	+input-radio("radio-2", "radio", true, "Прокачиваться в JS")
	+input-radio("radio-3", "radio", false, "Менеджерство")
	+input-radio("radio-4", "radio", false, "Другое")
