include ../input-text/input-text

ul.form-text
	+input-text("name", "name", "Почкина Анна Викторовна", "Полное ФИО", "form-text__item")
	+input-text("birth", "bith", "1981", "Год рождения", "form-text__item")
	+input-text("residence", "residence", "г. Оренбург, Россия", "Место жительства", "form-text__item")
	+input-text("skype", "skype", "amltrp@mail.ru", "Скайп", "form-text__item")
	+input-text("mail", "mail", "amltrp@mail.ru", "Почта", "form-text__item")
