@font-face
	font-weight: 400
	font-family: "PT Sans"
	font-style: normal
	font-display: swap

	src: url("../fonts/ptsans-regular.woff") format("woff")

@font-face
	font-weight: 700
	font-family: "PT Sans"
	font-style: normal
	font-display: swap

	src: url("../fonts/ptsans-bold.woff") format("woff")
