.form-checkbox
	display flex
	flex-wrap wrap

.form-checkbox__list
	width 256px

	&:last-child
		width 242px
		margin-left 10px


.form-checkbox__link
	color $link-color

	&:hover,
	&:focus,
	&:active
		opacity .7
