.header-page
	padding-top 62px
	padding-bottom 34px
	padding-left 113px

	background-image url('../images/status.png')
	background-repeat no-repeat
	background-position 696px bottom

.header-page__link
	&:hover,
	&:focus,
	&:active
		opacity .4
