.form-page__fieldset
	padding 0

	border none

.form-page__title
	font-title()

	padding 0
	margin 0

.form-page__text
	font-text()

	padding 0
	margin 0

.form-page__checkbox-wrapper
	margin-top 26px
	margin-bottom 36px

.form-page__slider
	margin-top 30px
	margin-bottom 20px

.form-page__textarea
	margin-top 24px
	margin-bottom 31px

.form-page__radio
	margin-top 14px
	margin-bottom 74px
